<!DOCTYPE html>
<html>
<head>
  <title>Consulta</title>
  <style>
    body{
    background-color: rgb(185, 207, 251);
    font-size: 30px;
    }
    h2{
    text-align: center;
   }
   div{
    text-align: center;
   }
    </style>
</head>
<body>
  <h2>Faça sua Consulta</h2>
  <form action="/consulta/resultado" method="GET">
   <div> <input type="text" name="nome" placeholder="nome">
    <button type="submit">Consultar</button></div>
  </form>
</body>
</html>
